.content-wrapper-four {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.one-sixth-block {
  width: 100%;

  a {

  }

  .one-sixth-block__img {

  }

  .one-sixth-block__title {

  }

  .one-sixth-block__cite {

  }

  .one-sixth-block__teaser {

  }
}

@media (min-width: 550px) {

  .content-wrapper-four {

    .one-sixth-block {
      width: 49%
    }
  }
}

@media (min-width: 850px) {

  .content-wrapper-four {

    .one-sixth-block {
      width: 32%
    }
  }
}

@media (min-width: 1000px) {

  .content-wrapper-four {
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

    .one-sixth-block {
      width: 30%
    }
  }
}
