.content-wrapper-three {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.half-block-left {
  position: relative;
  width: 100%;

  margin-bottom: 20px;

  a {

  }

  img {

  }

  .half-block__title {
    position: absolute;
    left: 10px;
    bottom: 25px;
  }

  .half-block__cite {
    position: absolute;
    left: 10px;
    bottom: 0;
  }

}

.half-block-right {
  position: relative;
  width: 100%;

  margin-bottom: 20px;

  a {

  }

  img {

  }

  .half-block__title {
    position: absolute;
    left: 10px;
    bottom: 25px;
  }

  .half-block__cite {
    position: absolute;
    left: 10px;
    bottom: 0;
  }
}

@media (min-width: 550px) {

  .content-wrapper-three {

    .half-block-left {
      width: 49%;
    }

    .half-block-right {
      width: 49%;
    }
  }
}

@media (min-width: 1000px) {

  .content-wrapper-three {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

