.content-wrapper-one {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 20px;

  .half-block {
    width: 49%;
  }

  .grid-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 49%;
  }
}

.grid-block__item {
  margin-right: 10px;
  margin-bottom: 15px;
  width: 45%;

  a {

  }
}

.article-preview {

}

.article-preview__img {
  margin-bottom: 10px;
}

.article-preview__cite {

}

.article-preview__title {

}
