.finance-wrapper-top {
  padding: 20px;

  .finance-top__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .finance-top__more {
    margin-top: 10px;
  }

  .finance-top__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .finance-card__one {
      width: 30%;
      margin-bottom: 20px;
    }

    .finance-card__two {
      width: 30%;
      margin-bottom: 20px;
    }

    .finance-card__three {
      width: 30%;
      margin-bottom: 20px;
    }

    .finance-card {
      width: 19%;
    }

    a {

    }

    img {
      transition: all 0.4s;
    }

    img:hover {
      opacity: 0.9;
      transition: all 0.4s;
    }

    .finance-card__title {

    }

    .finance-card__teaser {

    }
  }
}
