.finance-wrapper-middle {
  padding: 20px;

  .finance-top__title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .finance-top__more {
    margin-top: 10px;
  }

  .finance-top__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .finance-card__one {
    width: 100%;
    margin-bottom: 20px;

    overflow: hidden;

    .finance-card__title {
      margin: 7px;
    }
  }

  .finance-card__two {
    width: 100%;
    margin-bottom: 20px;

    overflow: hidden;
  }

  .finance-card__three {
    width: 100%;
    margin-bottom: 20px;

    overflow: hidden;
  }

  .finance-card {
    width: 100%;

    overflow: hidden;
  }

  a {

  }

  img {
    transition: all 0.4s;
  }

  img:hover {
    opacity: 0.9;

    transform: scale(1.03);
    transition: all 0.4s;
  }

  .finance-card__title {
    margin: 10px;
  }

  .finance-card__teaser {
    margin: 10px;
  }
}

.finance-card__teaser--copyrights {
  margin: 10px;
  font-size: 12px;
}

@media (min-width: 650px) {

  .finance-wrapper-middle {

    .finance-top__title {
      font-size: 24px;
    }

    .finance-top__block {
      padding: 10px;

      .finance-card__one {
        width: 32%;

        .finance-card__title {
          margin: 10px;
        }
      }

      .finance-card__two {
        width: 32%;
      }

      .finance-card__three {
        width: 32%;
      }

      .finance-card {
        width: 32%;
      }

      .finance-card:nth-child(4) {
        width: 49%;
      }

      .finance-card:nth-child(5) {
        width: 49%;
      }
    }
  }
}

@media (min-width: 900px) {

  .finance-wrapper-middle {

    .finance-top__block {

      .finance-card {
        width: 19%;
      }

      .finance-card:nth-child(4) {
        width: 19%;
      }

      .finance-card:nth-child(5) {
        width: 19%;
      }
    }
  }
}
